@use "src/styles/variables";

.squad {
  &-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
    @media (max-width: variables.$breakpoint-lg) {
      margin-bottom: 24px;
    }
    > div {
      width: 24%;
      @media (max-width: variables.$breakpoint-lg) {
        margin-bottom: 24px;
        width: 48%;
      }
    }
  }
}
