@use "src/variables";

.coach {
  &-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 32px;
    @media (max-width: variables.$breakpoint-lg) {
      margin-bottom: 24px;
    }
    > div {
      &:first-child {
        width: 24%;
        > div {
          height: calc(50% - 12px);
          &:first-child {
            margin-bottom: 24px;
          }
        }
      }
      &:nth-child(2) {
        flex: 1;
      }
    }
  }
}
