@use "src/variables";

.coach {
  &-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
    @media (max-width: variables.$breakpoint-lg) {
      margin-bottom: 24px;
    }
    > div {
      &:first-child {
        width: 21%;
        @media (max-width: variables.$breakpoint-xl) {
          width: 38%;
        }
        > div {
          height: calc(50% - 12px);
          &:first-child {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
  &-right {
    width: 45%;
    @media (max-width: variables.$breakpoint-xl) {
      width: 60%;
    }
  }
  &-graph {
    margin-top: 24px;
    width: 68%;
    @media (max-width: variables.$breakpoint-xl) {
      width: 100%;
      order: 2;
    }
  }
}
