@use "src/variables";

.coach {
  &-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      &:first-child {
        width: 26%;
        margin-bottom: 0;
        @media (max-width: variables.$breakpoint-xl) {
          width: 38%;
        }
        > div {
          width: 100%;
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &-right {
    width: 40%;
    @media (max-width: variables.$breakpoint-xl) {
      width: 60%;
    }
  }
  &-graph {
    margin-top: 24px;
    width: 68%;
    @media (max-width: variables.$breakpoint-xl) {
      width: 100%;
      order: 2;
    }
  }
}
