.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-left > div:first-child {
    min-width: 90px;
  }
  &-right,
  &-left {
    display: flex;
    align-items: center;
    > div:not(:last-child) {
      margin-right: 48px;
    }
  }
}
