.dashboard {
  > h1 {
    margin-top: 48px;
    margin-bottom: 32px;
    &:first-child {
      margin-top: 0;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    > div {
      width: 48%;
      margin-bottom: 0;
      &:first-child {
        > div {
          width: 48%;
          margin-bottom: 24px;
        }
      }
      &:last-child {
        margin-bottom: 24px;
      }
    }
  }
}
