/* Breakpoints */
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1400px !default;
/* Colors */
$primary-color: #333333;
$secondary-color: #9a9a9a;
$tertiary-color: #c4c4c4;
$POSITIVE-color: #21ce71;
$NEGATIVE-color: #f05056;
