@use "src/styles/variables";

.session-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-left {
    width: 66%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: variables.$breakpoint-xl) {
      width: 100%;
    }
    > div {
      margin-bottom: 24px;
    }
  }
  &-right {
    width: 32%;
    height: 100%;
    padding: 8px;
    @media (max-width: variables.$breakpoint-xl) {
      width: 50%;
    }
  }
  &-widgets {
    width: 30%;
    > div:first-child {
      margin-bottom: 24px;
    }
    h3 {
      margin-top: 16px;
      font-size: 50px;
      @media (max-width: variables.$breakpoint-xxl) {
        font-size: 40px;
      }
    }
  }
  &-classification {
    width: 68%;
  }
  &-graph {
    width: 100%;
  }
}
