@use "src/styles/variables";

.interactions {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    @media (max-width: variables.$breakpoint-lg) {
      margin-bottom: 16px;
    }
  }
  &-buttons {
    display: flex;
    margin-bottom: 24px;
    @media (max-width: variables.$breakpoint-xl) {
      margin-bottom: 0;
    }
    > div {
      border-radius: 5px;
      width: fit-content;
      &:not(:last-child) {
        margin-right: 16px;
        @media (max-width: variables.$breakpoint-lg) {
          margin-right: 12px;
        }
      }
    }
  }
  &-switch {
    display: flex;
    justify-content: center;
    > span {
      cursor: pointer;
      display: block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background-color: #2c2f51;
      &:first-child {
        margin-right: 12px;
      }
    }
    &-active {
      opacity: 0.4;
    }
  }
  &-graph {
    height: 320px;
    @media (max-width: variables.$breakpoint-xl) {
      height: 280px;
    }
    @media (max-width: variables.$breakpoint-lg) {
      height: 240px;
    }
  }
}
