@use "src/variables";

.tags {
  margin-top: 8px;
  > div {
    min-height: 45px;
  }
  &-list {
    > div {
      width: 100%;
    }
  }
  &-content {
    border-top: 2px solid variables.$tertiary-color;
    padding-top: 8px;
    display: flex;
    align-items: center;
    &-left {
      width: calc(100% - 86px);
      > h6 {
        margin-bottom: 8px;
        align-items: center;
      }
      > textarea {
        width: 100%;
        border-radius: 5px;
      }
    }
    &-right {
      width: 70px;
      margin-left: 16px;
      margin-top: 16px;
      > div:first-child {
        margin-bottom: 8px;
      }
    }
  }
}
