@use "src/variables";

.recordings {
  &-container {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  &-video {
    width: 68%;
    //margin-bottom: 24px;
    > div {
      height: 100%;
      video {
        border-radius: 15px;
        width: 100%;
      }
    }
  }
  &-highlights-container {
    width: 30%;
    ul {
      padding-inline-start: 0px;
      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  &-audio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    > div {
      width: 18%;
      height: 56px;
      margin-top: 16px;
      cursor: pointer;
    }
    &-container {
      width: 100%;
    }
  }
}
