@use "src/variables";

.recordings {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  &-video {
    width: 65%;
    margin-bottom: 24px;
    @media (max-width: variables.$breakpoint-lg) {
      //width: 100%;
    }
  }
  &-highlights {
    &-container {
      width: 33%;
      height: 400px;
      margin-bottom: 24px;
      @media (max-width: variables.$breakpoint-lg) {
        width: 25%;
      }
    }
  }
  &-audio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    > div {
      width: 18%;
      margin-top: 16px;
    }
    &-playing > div {
      cursor: pointer;
    }
    &-container {
      width: 100%;
    }
  }
}
