@use "src/variables";

.sessions-table {
  overflow-x: auto;

  table {
    min-width: 950px;
    width: 100%;
    border-collapse: collapse;
    thead {
      border-bottom: 1px solid variables.$tertiary-color;
      height: 60px;
    }
    tbody tr {
      height: 60px;
      border-bottom: 1px solid #f3f3f3;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: #dadada, $alpha: 0.2);
      }
    }
    th,
    td {
      text-align: left;
      text-transform: capitalize;
      padding: 8px;
      &:first-child {
        padding-left: 16px;
        input[type="checkbox"] {
          width: 18px;
          height: 18px;
        }
      }
      &:last-child {
        width: 15px;
        padding-right: 16px;
        svg {
          height: 18px;
        }
      }
    }
    thead tr {
      th > span {
        display: flex;
        cursor: pointer;
        font-weight: normal;
        svg {
          width: 12px;
          height: 10px;
          margin-left: 8px;
        }
      }
    }
  }
  .session-check {
    svg {
      width: 20px;
      height: 20px;
    }
    &-rotate svg {
      transform: rotate(45deg);
    }
  }
}
